<% if user = User.find_by(id: user_id) %>
        <% if current_user.id == user_id %>
        <p><i>Delete review</i> <%= link_to product_review_path(id: id, product_id: @product.id), class: 'btn btn-xs btn-danger', method: :delete do %><% end %></p>
        <% end %>
      <dl class="dl-horizontal">
        <dt><%= time.to_s[0..-8] %></dt>
        <dd>Submitted by <strong><%= user.name %></strong></dd>
        <dt>Rating</dt>
        <dd><%= rating %></dd>
        <dt>Description</dt>
        <dd><%= description %></dd>
      </dl>
<% end %>